:root {
  --background-color: #0D192C;
  --secondary-background-color: #15263F;
  --primary-color: #8BACD9;
  --secondary-color: #2E405A;
  --accent-color: #00FFF8;
  --third-color: #FFFFFF;
}

body {
  background-color: var(--background-color);
  font-family: Outfit, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  color: var(--third-color);
}

p {
  color: var(--primary-color);
  font-size: 18px;
}